body {
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    
}

div {
    border-radius: .5rem;
    margin-top: 5%;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    padding: 1rem;
}

div {
border: 1px solid black;
}