<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>You adopted a pet!</h1>

    <p>Pet Type: <%= details.pet_type %></p>
    <p>Pet Quantity: <%= details.pet_quantity %></p>
    <p>Pet Color: <%= details.pet_color %></p>
</body>
</html>