<!-- 
 Pair Programming: Tia Marie and Tav Singh
 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="script.js" defer></script>
    <link rel="stylesheet" href="styles.css">

    <title>Animal Adoption Center</title>
</head>

<body>
    <form action="/submit" method="post" >
        <div>
            <h1>Adopt a pet here</h1>
            <label for="pet_type">
                What type of Pet would you like to adopt?
                <input type="text" id="pet_type" name = "pet_type">
            </label>
    
            <label for="pet_quantity">
                Quantity:
                <input type="text" id="pet_quantity" name="pet_quantity">
            </label>
    
            <label for="pet_color">
                Color:
                <input type="text" id="pet_color" name="pet_color">
            </label>
    
            <button id="click">Submit Order</button>
    
            <p id="output"></p>
        </div>
    </form>
</body>

</html>